#Â **Python Basics Course: Exercises**

# **1. Data Types and Variables**

**Ex 1.1: Declare Your Own Variables**

1. Create a variable for your favorite color as a string.
2. Create a variable for your age as an integer.
3. Create a variable for your height as a float.
4. Create a variable for whether you like Python as a boolean.
5. Print all the previous variables

In [ ]:
# Solution
favorite_color = ...
age = ...
height = ...
likes_python = ...

# Print them out to check
print("Favorite color:", )
print("Age:", )
print("Height:", )
print("Likes Python:", )

In [ ]:
del favorite_color, age, height, likes_python

**Ex 1.2: String Manipulation and Type Conversion**

1. Strings can be concatenated with `+` or repeated with `*`.
2. Convert one data type to another using functions like `int()`, `float()`, and `str()`.

In [5]:
# Solution

# Type conversion
pippo = '20'

num_int = int(num_str)

print("Converted:", num_int, "is now of type", type(num_int))

Converted: 20 is now of type <class 'int'>

**Ex 1.3: Work with Data Types**

1. Create a string variable for your name and print a greeting using it.
2. Add two integer variables and print the result.
3. Multiply a float by an integer and print the result.
4. Convert a string of numbers (e.g., "123") into an integer and add 10 to it.

In [ ]:
# Solution
# 1. String variable for your name
your_name = ...
print("Hello, " + ...

# 2. Add two integers
num1 = ...
num2 = ...
print("Sum:", ...)

# 3. Multiply a float by an integer
float_num = ...
int_num = ...
print("Multiplication Result:", ...)

# 4. Convert string to integer and add 10
num_str = ...
num_int = int(...)
print("Converted and Added:", ...)

In [ ]:
del ...

**Ex 1.4: User Input and Type Casting**

1. Ask the user to input their age as a string.
2. Convert the input into an integer and add 5 to it.
3. Print a message with the result.

In [ ]:
# Solution

# Step 1: Ask the user for their age
age_str = ...  # User input is always a string

# Step 2: Convert the string to an integer
age_int = ...

# Step 3: Add 5 and print the result
future_age = ...
print("In 5 years, you will be", future_age, "years old!")

In [ ]:
del ...

**Ex 1.5: Arithmetic with Mixed Types**

1. Create two variables:
   - A float (e.g., `price = 19.99`).
   - A string representing a whole number (e.g., `quantity = "3"`).
2. Convert the string variable into an integer.
3. Multiply the float by the integer and print the result as a float.

In [ ]:
# Solution
# Step 1: Define a float and a string
price = ...
quantity_str = ...

# Step 2: Convert the string to an integer
quantity = int(...)

# Step 3: Perform arithmetic and print the result
total_cost = price * ...
print("Total cost:", ...)  # Result will be a float

In [ ]:
del ...

# **2. Basic Python Syntax**

**Ex 2.1: Print and Comments**
1. Write a print statement that outputs: "Python is fun!"
2. Add a comment above the print statement explaining what it does.
3. Add a second print statement with your favorite hobby.

In [ ]:
# Solution
# This print statement outputs a message
print(...)

# Printing my favorite hobby
print(...)

In [ ]:
del ...

**Ex 2.2: Case Sensitivity and Indentation**
1. Declare two variables: `Name = "Alice"` and `name = "Bob"`. Print both variables to see the difference.
2. Write an `if` statement that checks if `10 > 5` and prints "10 is greater than 5".
3. Experiment by removing indentation under the `if` statement and observe the error.

In [ ]:
# Solution
# Case sensitivity
Name = ...
name = ...
print("Name:", Name)
print("name:", name)

# Indentation
if 10 > 5:
    ...

# Try removing indentation here to see the error

In [ ]:
del ...

**Ex 2.3: Debugging Syntax Errors**

1. The code below has syntax errors. Copy and paste it into the code cell, run it, and fix the errors:
   ```python
   print("Welcome to Python")
   if(5 > 3)
   print("5 is greater than 3")

In [ ]:
# Solution
# Fixed Syntax Errors
print(...)  # Added missing closing parenthesis

if 5 > 3:  # Added colon at the end of the if statement
    print(...)  # Indented this line properly

In [ ]:
del ...

**Ex 2.4: Practice Indentation with a Nested Block**

1. Write an `if` statement that checks if `7 > 3`. 
2. Inside this block, write another `if` statement that checks if `7 > 5`.
3. Print a message inside the nested block.
4. Experiment with incorrect indentation and observe the errors.

In [ ]:
# Solution
if ...:
    print(...)
    ...:
        print("7 is also greater than 5")  # Nested block with correct indentation

# Incorrect indentation will cause errors!

In [ ]:
del ...

# **3. Operators**

**Ex 3.1: Arithmetic Operators**
1. Create two variables, `num1` and `num2`, and assign them any values.
2. Calculate and print the following:
   - Sum of `num1` and `num2`.
   - Difference between `num1` and `num2`.
   - Product of `num1` and `num2`.
   - Floor division of `num1` by `num2`.
   - Remainder when `num1` is divided by `num2`.

In [ ]:
# Solution
...
...

print("Equal to:", ...)
print("Greater than:", ...)
print("Less than or equal to:", ...)

In [ ]:
del ...

**Ex 3.2: Logical Operators**
1. Create a variable `x` and assign it a value.
2. Write logical expressions to check and print:
   - Whether `x` is greater than 10 and less than 20.
   - Whether `x` is less than 5 or greater than 15.
   - Use `not` to reverse the result of whether `x` is greater than 10.

In [ ]:
# Solution
...

print("x > 10 and x < 20:", ...)
print("x < 5 or x > 15:", ...)
print("not(x > 10):", ...)

In [ ]:
del ...

# **4. Conditional Statements and Loops**

**Exercise 4.1: If-Else Statement**  

1. Write a program that checks if a number is positive, negative, or zero.
2. Use an `if-elif-else` statement to print the result.

In [ ]:
# Solution
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive")
elif num == 0:
    print("The number is zero")
else:
    print("The number is negative")

In [ ]:
del

**Exercise 4.2: For Loop with Range**

1. Write a `for` loop to print all even numbers between 1 and 20 (inclusive).

In [ ]:
# Solution
for i in ...:
    if ...:
        print(i)

In [ ]:
del

**Exercise 4.3: While Loop**
1. Use a `while` loop to print the numbers from 5 to 1 in reverse order.

In [ ]:
# Solution
count = ...
while ...:
    print(count)
    count -= 1

In [ ]:
del ...

**Exercise 4.4: Map and Filter**
1. Create a list of numbers `nums = [1, 2, 3, 4, 5]`.
2. Use `map()` to create a new list with each number squared.
3. Use `filter()` to create a list of only the even numbers.

In [ ]:
# Solution
...

# Use map() to square each number
squared = map(lambda x: ..., nums)
print("Squared numbers:", list(squared))

# Use filter() to get even numbers
even = filter(lambda x: ..., nums)
print("Even numbers:", list(even))

In [ ]:
del ...

**Exercise 4.5: Count Vowels in a String**

```python
# Input string
text = "Loops are powerful tools in programming."
```
Your tasks:
1. Initialize a variable `vowel_count` to 0.
2. Iterate over each character in the string using a `for` loop.
3. Check if the character is a vowel (a, e, i, o, u, both uppercase and lowercase).
4. Increment `vowel_count` for each vowel.
5. Print the final value of `vowel_count`.

In [ ]:
# Solution

# Input string
text = "Loops are powerful tools in programming."

# Initialize a counter for vowels
...

# Define the set of vowels
vowels = "aeiouAEIOU"

# Iterate over each character in the string
for ...:
    if ...:  # Check if the character is a vowel
        vowel_count += 1

# Print the result
print("Number of vowels:", vowel_count)

# **5. Data Structures**

**Exercise 5.1: Play with the list**

Create a list of your 5 favorite foods, modify one item, and then print the updated list.

In [ ]:
# Solution

# Step 1: Create a list of 5 favorite foods
favorite_foods = [...]

# Step 2: Modify one item in the list
...

# Step 3: Print the updated list
print("Updated list of favorite foods:", ...)

**Exercise 5.2**

Create a tuple with your first three favorite animals. Try to access the second item and print it. Attempt to change an element and see the result.

In [ ]:
# Solution

# Step 1: Create a tuple with three favorite animals
favorite_animals = ...

# Step 2: Access the second item and print it
...
print("The second favorite animal is:", second_animal)

# Step 3: Attempt to change an element (this will raise an error)
try:
    ...  # Tuples are immutable, so this will fail
except TypeError as e:
    print("Error:", e)

**Exercise 5.3**

Create a set with five numbers. Add a new number and remove one of the existing numbers. Print the final set.

In [ ]:
# Solution

# Step 1: Create a set with five numbers
numbers = ...

# Step 2: Add a new number to the set
...

# Step 3: Remove one of the existing numbers
...

# Step 4: Print the final set
print("Final set of numbers:", numbers)

**Exercise 5.4**

Create a dictionary with at least 3 key-value pairs representing your details (e.g., name, age, and country). Update one of the values and print the updated dictionary.

In [ ]:
# Solution

# Step 1: Create a dictionary with personal details
personal_details = {
    ...,
    ...,
    ...
}

# Step 2: Update one of the values (e.g., change age)
...

# Step 3: Print the updated dictionary
print("Updated dictionary:", personal_details)